<p id="notice"><%= notice %></p>

<p>
  <strong>Storage form:</strong>
  <%= @matrixstorageform.storage_form %>
</p>

<%= link_to 'Edit', edit_matrixstorageform_path(@matrixstorageform) %> |
<%= link_to 'Back', matrixstorageforms_path %>
