<p id="notice"><%= notice %></p>

<p>
  <strong>Plant part:</strong>
  <%= @matrixplantpart.plant_part %>
</p>

<%= link_to 'Edit', edit_matrixplantpart_path(@matrixplantpart) %> |
<%= link_to 'Back', matrixplantparts_path %>
