<p id="notice"><%= notice %></p>

<p>
  <strong>M common name:</strong>
  <%= @matrixname.m_common_name %>
</p>

<%= link_to 'Edit', edit_matrixname_path(@matrixname) %> |
<%= link_to 'Back', matrixnames_path %>
