<p id="notice"><%= notice %></p>

<p>
  <strong>M genus:</strong>
  <%= @matrixgenu.m_genus %>
</p>

<%= link_to 'Edit', edit_matrixgenu_path(@matrixgenu) %> |
<%= link_to 'Back', matrixgenus_path %>
