<p id="notice"><%= notice %></p>

<p>
  <strong>M species:</strong>
  <%= @matrixspecy.m_species %>
</p>

<%= link_to 'Edit', edit_matrixspecy_path(@matrixspecy) %> |
<%= link_to 'Back', matrixspecies_path %>
