<p id="notice"><%= notice %></p>

<p>
  <strong>Product form:</strong>
  <%= @matrixproductform.product_form %>
</p>

<%= link_to 'Edit', edit_matrixproductform_path(@matrixproductform) %> |
<%= link_to 'Back', matrixproductforms_path %>
